
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color:#E6E6FA;

  line-height: 1.6;
}



h2 {
  color: #3046c5;
}



.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 300px;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
 
  background-image: linear-gradient(to right, #DCDCDC,#A9A9A9, #2F4F4F);
  height: 150px;
}

.jumbotron h2 {
  color: #cec8ff;
}

.navbar {
  background-image: linear-gradient(180deg, #008080,#008080);
  font-size: larger;
}

.errorsMsg {
  font-weight: 600;
  color: red;
}

.alertMsg {
  font-weight: 600;
  color: green;
}

.styleRadio {
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
}

.otherAmount {
  border: 1px solid black;
  height: 30px;
}
.btn-link{
text-decoration: none;
color: red;
}

nav a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
  color: white;
  opacity: 1;
}
nav a:hover {
  text-decoration: none;
  
  color: white;
  opacity: 1;
}
p {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}
.heightCard{
  height: 200px;
}